.maze {
	position: relative;
}
.maze .line {
	clear: both;
}
.maze .line .mcell {
	display: block;
	width: 1rem;
	height: 1rem;
	float: left;
	margin: 0px;
	padding: 0px;
}
.mcell.space {
	transition-delay: 50ms;
	transition-duration: 0.5s;
	background-color: transparent;
}
.mcell.wall {
	background-color: #AAAAAA;
	transition-duration: 0.3ms;
	background-size: contain;
}
.mcell.wall.mborder {
	background-color: #999999;
	background-image: none;
}
.mcell.finish {
	/* background-color: #009900; */
	background-image: url('../img/exit.svg');
	background-size: contain;
}
.user {
	position: absolute;
	transition-duration: 0.5ms;
	display: none;
	width: 1rem;
	height: 1rem;
	overflow: hidden;
	background-color: #000000;
	mask: url('../img/player.svg');
	background-size: contain;
	/*
	*/
}

/* user animation */
.user.animBlinkRed {
	animation-name: userBlinkingRed;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.user.animBlinkGray {
	animation-name: userBlinkingGray;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes userBlinkingRed {
  0%   {background-color: #000000;}
  50%  {background-color: #FF0000;}
  100% {background-color: #000000;}
}

@keyframes userBlinkingGray {
  0%   {background-color: #000000;}
  50%  {background-color: #999999;}
  100% {background-color: #000000;}
}


/* itmes */
.mcell.withItem.item1 {
	background-color: #999999;
	mask: url('../img/player.svg');
}
.leftmenu #item1 .icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-color: #999999;
	mask: url('../img/player.svg');
}

.mcell.withItem.item2 {
	background-color: #FF0000;
	mask: url('../img/player.svg');
}
.leftmenu #item2 .icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-color: #FF0000;
	mask: url('../img/player.svg');
}
