.maze {
	position: relative;
}
.maze .loader {
	position: absolute;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.maze .loader>div {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -2.5rem;
	margin-left: -2.5rem;
	width: 5rem;
	height: 5rem;
}
.maze .line {
	clear: both;
}
.maze .line .mcell {
	display: block;
	width: 1rem;
	height: 1rem;
	float: left;
	margin: 0px;
	padding: 0px;
}
.mcell.space {
	background-color: transparent;
	/* background-color: #9CFF8E; */ /*same as a common wall*/
}
.mcell.space>div{
	transition-delay: 50ms;
	transition-duration: 0.5s;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}
.mcell.space.top-wall.left-wall>div{
	border-top-left-radius: 0.2rem;
}
.mcell.space.top-wall.right-wall>div{
	border-top-right-radius: 0.2rem;
}
.mcell.space.bottom-wall.left-wall>div{
	border-bottom-left-radius: 0.2rem;
}
.mcell.space.bottom-wall.right-wall>div{
	border-bottom-right-radius: 0.2rem;
}

/* walls */
.mcell.wall {
	transition-duration: 0.3ms;
	background-image: url('../img/clouds.svg');
	background-size: contain;
}
.mcell.wall.left-space.bottom-space {
	border-bottom-left-radius: 0.5rem;
}
.mcell.wall.right-space.bottom-space {
	border-bottom-right-radius: 0.5rem;
}
.mcell.wall.left-space.top-space {
	border-top-left-radius: 0.5rem;
}
.mcell.wall.right-space.top-space {
	border-top-right-radius: 0.5rem;
}
.mcell.wall.mborder {
	background-color: #170086;
	background-image: none;
}
.mcell.finish>div {
	/* background-color: #009900; */
	background-image: url('../img/exit.svg');
	background-size: contain;
}
.user {
	position: absolute;
	transition: top 0.5ms, left 0.5ms; /* rotation transition fails as it's hard to set the side to rotate :-( */
	display: none;
	width: 1rem;
	height: 1rem;
}
.user .icon {
	width: 1rem;
	height: 1rem;
	overflow: hidden;

	background-image: url('../img/player-airplane.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	background-size: contain;

	transform: rotate(90deg);
	/*
	*/
}

/* user movements */
.user.moving-down .icon {
	transform: rotate(180deg);
}
.user.moving-up .icon {
	transform: rotate(0deg);
}
.user.prev-moving-up.moving-left .icon {
	transform: rotate(-90deg);
}
.user.moving-left .icon {
	transform: rotate(270deg);
}
.user.moving-right .icon {
	transform: rotate(90deg);
}

/* user animation */
.user.animBlinkRed .icon {
	animation-name: userBlinkingRed;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.user.animBlinkGray .icon {
	animation-name: userBlinkingGray;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes userBlinkingRed {
  0%   {/* background-image: url('../img/player-airplane.svg');*/ }
  50%  {background-image: url('../img/player-airplane-red.svg');}
  100% {background-image: url('../img/player-airplane.svg');}

}

@keyframes userBlinkingGray {
  0%   {/*background-image: url('../img/player-airplane.svg');*/}
  50%  {background-image: url('../img/player-airplane-gray.svg');}
  100% {background-image: url('../img/player-airplane.svg');}
}




/* itmes */
.mcell.withItem.item1>div {
	background-image: url('../img/balloon-gray.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}
.leftmenu #item1 .icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-image: url('../img/balloon-gray.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

.mcell.withItem.item2>div {
	background-image: url('../img/balloon-red.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}
.leftmenu #item2 .icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-image: url('../img/balloon-red.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

/* arrows for movements */
.moveArrow {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	
	width: 2rem;
	height: 2rem;
	
	cursor: pointer;
	
	opacity: 0.2;
	
}
#arrMoveUp {
	transform: rotate(90deg);
	background-image: url('../img/airplane-arrow.svg');
	top: -2.5rem;
	left: -0.5rem;
}
#arrMoveDown {
	transform: rotate(270deg);
	background-image: url('../img/airplane-arrow.svg');
	bottom: -2.5rem;
	left: -0.5rem;
}
#arrMoveRight {
	transform: rotate(180deg);
	background-image: url('../img/airplane-arrow.svg');
	top: -0.5rem;
	left: 1.5rem;
}
#arrMoveLeft {
	background-image: url('../img/airplane-arrow.svg');
	top: -0.5rem;
	right: 1.5rem;
}
