.content {
	padding-left: 3rem;
	padding-top: 2rem;
}
#finishMessage {
	position: absolute;
	display:none;
	top:50%;
	width: 100%;
	text-align: center;
}
.leftmenu {
	position: fixed;
	width: 3rem;
	height: 100%;
	padding-top: 2rem;
	background-color: #FFFFFF;
	border-right: 1px #000000;
	z-index: 90;
}
.topmenu {
	position: fixed;
	height: 2rem;
	padding-left: 2rem;
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px #000000;
	z-index: 100;
}
